.miniJeuQuizz {
  margin-top: 85px;

  h1 {
    text-align: center;
    width: 100%;
    font-size: 4rem;
  }

  .content {
    display: flex;
    flex-direction: row;

    .minijeux {
      margin: 2.5rem 5%;
      background: $color-1;
      border-radius: $borderRadius;
      padding: 1.5rem 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;


    }

  }

  #btnbug, #btnbug::after {
    width: 380px;
    height: 75px;
    font-size: 30px;
    background: $color-4;
    border-radius: $borderRadius;
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    outline: transparent;
    position: relative;
    margin-left: calc(50% - 190px);
    margin-top: 1rem;
  }

  #btnbug::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'SIMON CONVERT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, $color-4 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }

  #btnbug:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(4, end);
  }

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
}